page-home {
    .bck-image{
    background-image: url(../../assets/imgs/RentYourToolStart.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
    
     width: 100%;
     height:100%
    // height: 246px;
    // margin: auto;
    // z-index: 2;
    // position: relative;
    }
    .scroll-content {
        padding: 0px !important;
       
       
    }
}
